{% extends "base_generic.html" %}

{% block content %}
  <h1>Employees Management Home</h1>
  <p>Welcome to Employees Management Software</p>
  <h2>Dynamic content</h2>
  <p>The Organization has the following counts</p>
  <ul>
    <li><strong>Employees:</strong> {{ num_of_employees }}</li>
    <li><strong>Employees Instances:</strong> {{ num_instances }}</li>
    <li><strong>Employees on Leave:</strong> {{ employees_on_leave }}</li>
    <li><strong>Available Employees:</strong> {{ num_instances_available}}</li>
    <li><strong>Employees Who Clocked In:</strong> {{ employees_who_reported }}</li>
    <li><strong>Employees Who has left:</strong> {{ employees_who_left }}</li>
  </ul>
{% endblock %}