!<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
{% if employees %}
    <ul>
    {% for employee in employees %}
        <li><a href="/employee_manager/{{ employee.id }}/">{{ employee.first_name}}  {{employee.last_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No employees available.</p>
{% endif %}
        <script src="" async defer></script>
        <h2>Dynamic content</h2>

        <p>The library has the following record counts:</p>
        <ul>
          <li><strong>Employees:</strong> {{ num_of_employees }}</li>
          <li><strong>Employee Instances:</strong> {{ num_instances }}</li>
          <li><strong>Employees  available:</strong> {{ num_instances_available }}</li>
          <li><strong>Employees on Leave:</strong> {{ employees_on_leave }}</li>
        </ul>
        
        <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    </body>
</html>